delivery_mrw/api/mrw_api.xml

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://www.mrw.es/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    targetNamespace="http://www.mrw.es/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mrw.es/">
      <s:element name="TransmitirEnvio">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:TransmitirEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmitirEnvioRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="VerificacionDireccion"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Via" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroDireccion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="RestoDireccion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoPostal"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EnFranquicia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="SMSRecogida"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="SMSEntrega"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Referencia"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Bultos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Kilos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Puentes" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nif" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Reembolso" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ComisionReembolso"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ImporteReembolso"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Mercancia" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ValorDeclarado"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="AtencionDe"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Observaciones"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EntregaPartirDe"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ConfirmacionInmediata"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gestion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EntregaSabado"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Entrega830"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoPromocion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroSobre"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Frecuencia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="TipoNotificacion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Notificacion1"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Notificacion2"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="MailSMS1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MailSMS2" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="TramoHorario"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="PortesDebidos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Mascara_Tipos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Mascara_Campos"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Asistente" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseRequest" abstract="true" />
      <s:element name="TransmitirEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="TransmitirEnvioResult"
                            type="tns:TransmitirEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmitirEnvioResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="NumEnvio" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthInfoSWGE" type="tns:AuthInfoSWGE" />
      <s:complexType name="AuthInfoSWGE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Franquicia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="TransmitirEnvioEC">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:TransmitirEnvioECRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmitirEnvioECRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosRecogida"
                                type="tns:DatosRemitenteRequest"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroAlbaran"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="VerificacionDireccion"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Via" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroDireccion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="RestoDireccion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoPostal"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EnFranquicia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="SMSRecogida"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="SMSEntrega"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Referencia"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ListaBultos"
                                type="tns:ArrayOfBultoRequest"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Bultos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Kilos" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Puentes" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nif" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Reembolso" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ComisionReembolso"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ImporteReembolso"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Mercancia" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ValorDeclarado"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="AtencionDe"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Observaciones"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EntregaPartirDe"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ConfirmacionInmediata"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gestion" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EntregaSabado"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Entrega830"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoPromocion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroSobre"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Frecuencia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="TipoNotificacion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Notificacion1"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Notificacion2"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="MailSMS1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MailSMS2" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="TramoHorario"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="PortesDebidos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="SeguroOpcional"
                                type="tns:SeguroOpcionalRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Mascara_Tipos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Mascara_Campos"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Asistente" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DatosRemitenteRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Direccion"
                        type="tns:DireccionRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Nif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacto" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Horario"
                        type="tns:HorarioRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DireccionRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoDireccion"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoTipoVia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Via" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default="NINGUNO"
                        name="TipoPuntoEntrega"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default=""
                        name="CodigoPuntoEntrega"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default=""
                        name="CodigoFranquiciaAsociadaPuntoEntrega"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default="NINGUNO"
                        name="TipoPuntoRecogida"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default=""
                        name="CodigoPuntoRecogida"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        default=""
                        name="CodigoFranquiciaAsociadaPuntoRecogida"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Agencia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HorarioRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Rangos"
                        type="tns:ArrayOfHorarioRangoRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHorarioRangoRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="HorarioRangoRequest"
                        nillable="true"
                        type="tns:HorarioRangoRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HorarioRangoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hasta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBultoRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="BultoRequest"
                        nillable="true"
                        type="tns:BultoRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BultoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Alto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Largo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ancho" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dimension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroBulto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SeguroOpcionalRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoNaturaleza"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorAsegurado"
                        type="s:string"
                    />
        </s:sequence>
      </s:complexType>
      <s:element name="TransmitirEnvioECResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="TransmitirEnvioECResult"
                            type="tns:TransmitirEnvioECResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmitirEnvioECResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="FechaSolicitud"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="NumEnvio" type="s:string" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumEnvioLecturaPlataformas"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoFranquiciaDestino"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NombreFranquiciaDestino"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoSaca"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NombreSaca"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoRuta"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoTipoCobro"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionTipoCobro"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoTipoEnvio"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroPuentes"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroKilos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroBultos"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NombreServicio"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NombrePlanAccionSocial"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionTipoRetorno"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionTipoGestion"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionEntregaSabado"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ImporteTotalReembolso"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionTipoMercancia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="HoraMaximaEntrega"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionConfirmacionInmediata"
                                type="s:string"
                            />
              <s:element minOccurs="1" maxOccurs="1" name="KmRecogida" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KmEntrega" type="s:int" />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DescripcionRevisionEnFranquicia"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoBarrasNumEnvio"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CodigoBarrasNumEnvioLecturaPlataformas"
                                type="s:string"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TransmEnvio">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:TransmEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmEnvioRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="ModificaDatosEnvio"
                                type="tns:ModificaDatosEnvioRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosRecogida"
                                type="tns:DatosRemitenteRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosEntrega"
                                type="tns:DatosDestinatarioRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosServicio"
                                type="tns:DatosServicioRequest"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ModificaDatosEnvioRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NumeroEnvioOriginal"
                        type="s:string"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosDestinatarioRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Direccion"
                        type="tns:DireccionRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Nif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALaAtencionDe" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Horario"
                        type="tns:HorarioRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosServicioRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroAlbaran" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnFranquicia" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoServicio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionServicio"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Frecuencia" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoPromocion"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroSobre" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Bultos"
                        type="tns:ArrayOfBultoRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroBultos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroPuentes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaSabado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Entrega830" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="EntregaPartirDe"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Gestion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoServicioRetorno"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ConfirmacionInmediata"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Reembolso" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ImporteReembolso"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="TipoMercancia" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorDeclarado"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ServicioEspecial"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMoneda" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorEstadistico"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorEstadisticoEuros"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Notificaciones"
                        type="tns:ArrayOfNotificacionRequest"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="SeguroOpcional"
                        type="tns:SeguroOpcionalRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="TramoHorario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PortesDebidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mascara_Tipos" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Mascara_Campos"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Asistente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNotificacionRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="NotificacionRequest"
                        nillable="true"
                        type="tns:NotificacionRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotificacionRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CanalNotificacion"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="TipoNotificacion"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="MailSMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransmEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="TransmEnvioResult"
                            type="tns:TransmEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmEnvioResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroSolicitud"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroEnvio"
                                type="s:string"
                            />
              <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AuthInfo" type="tns:AuthInfo" />
      <s:complexType name="AuthInfo">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoFranquicia"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoAbonado" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoDepartamento"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="TransmEnvioEC">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:TransmEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransmEnvioECResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="TransmEnvioECResult"
                            type="tns:TransEnvioECResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransEnvioECResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroSolicitud"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Labels"
                                type="tns:ArrayOfLabel"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLabel">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="Label"
                        nillable="true"
                        type="tns:Label"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Label">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="FechaSolicitud"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="NumEnvio" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NumEnvioLecturaPlataformas"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoClasificacionPlataformas"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoFranquiciaDestino"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NombreFranquiciaDestino"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSaca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreSaca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoRuta" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoTipoCobro"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionTipoCobro"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoTipoEnvio"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Bultos" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="PesoExpedicion"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="BultoExpedicion"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="PesoBulto" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NombreServicio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NombrePlanAccionSocial"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionTipoRetorno"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionTipoGestion"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionEntregaSabado"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ImporteTotalReembolso"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionTipoMercancia"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="HoraMaximaEntrega"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionConfirmacionInmediata"
                        type="s:string"
                    />
          <s:element minOccurs="1" maxOccurs="1" name="KmRecogida" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmEntrega" type="s:int" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionRevisionEnFranquicia"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoBarrasNumEnvio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoBarrasNumEnvioLecturaPlataformas"
                        type="s:string"
                    />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEtiquetaEnvio">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:EtiquetaEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EtiquetaEnvioRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroEnvio" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NumerosEtiqueta"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="SeparadorNumerosEnvio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="FechaInicioEnvio"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="FechaFinEnvio" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="TipoEtiquetaEnvio"
                        type="s:string"
                    />
          <s:element minOccurs="1" maxOccurs="1" name="ReportTopMargin" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportLeftMargin" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEtiquetaEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="GetEtiquetaEnvioResult"
                            type="tns:EtiquetaEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EtiquetaEnvioResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EtiquetaFile"
                                type="s:base64Binary"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="EtiquetaFileZpl"
                                type="s:string"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TransmEnvioInternacional">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:TransmEnvioIntRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransmEnvioIntRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosRecogida"
                                type="tns:DatosRemitenteRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosEntrega"
                                type="tns:DatosDestinatarioIntRequest"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="DatosServicio"
                                type="tns:DatosServicioIntRequest"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DatosDestinatarioIntRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Direccion"
                        type="tns:DireccionIntRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Nif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ALaAtencionDe" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DireccionIntRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosServicioIntRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoServicio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="DescripcionServicio"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Bultos"
                        type="tns:ArrayOfBultoIntRequest"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroBultos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Peso" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ServicioEspecial"
                        type="s:string"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMoneda" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorEstadistico"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="ValorEstadisticoEuros"
                        type="s:string"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NotificacionSMS"
                        type="tns:NotificacionIntRequest"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="SeguroOpcional"
                        type="tns:SeguroOpcionalRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBultoIntRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="BultoIntRequest"
                        nillable="true"
                        type="tns:BultoIntRequest"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BultoIntRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Alto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Largo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ancho" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dimension" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotificacionIntRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TelefonoSMS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TransmEnvioInternacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="TransmEnvioInternacionalResult"
                            type="tns:TransmEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEtiquetaEnvioInternacional">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:EtiquetaEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEtiquetaEnvioInternacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="GetEtiquetaEnvioInternacionalResult"
                            type="tns:EtiquetaEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarEnvio">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:CancelarEnvioRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CancelarEnvioRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="CancelaEnvio"
                                type="tns:CancelaEnvioRequest"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CancelaEnvioRequest">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="NumeroEnvioOriginal"
                        type="s:string"
                    />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="CancelarEnvioResult"
                            type="tns:CancelarEnvioResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CancelarEnvioResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroSolicitud"
                                type="s:string"
                            />
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="NumeroEnvio"
                                type="s:string"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetPointsDB">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="request"
                            type="tns:PointsRequest"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PointsRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="Point"
                                type="tns:PointRequest"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PointRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoPoint" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPointsDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element
                            minOccurs="0"
                            maxOccurs="1"
                            name="GetPointsDBResult"
                            type="tns:PointsResponse"
                        />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PointsResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element
                                minOccurs="0"
                                maxOccurs="1"
                                name="PointList"
                                type="tns:ArrayOfPuntoDeRedDTO"
                            />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPuntoDeRedDTO">
        <s:sequence>
          <s:element
                        minOccurs="0"
                        maxOccurs="unbounded"
                        name="PuntoDeRedDTO"
                        nillable="true"
                        type="tns:PuntoDeRedDTO"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PuntoDeRedDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="CodigoPuntoVinculado"
                        type="tns:CodigoPointDTO"
                    />
          <s:element
                        minOccurs="0"
                        maxOccurs="1"
                        name="Direccion"
                        type="tns:DireccionPuntoDTO"
                    />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CodigoPointDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DireccionPuntoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Provincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoVia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreVia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroVia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Resto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Google" type="s:string" />
          <s:element
                        minOccurs="1"
                        maxOccurs="1"
                        name="Latitud"
                        nillable="true"
                        type="s:double"
                    />
          <s:element
                        minOccurs="1"
                        maxOccurs="1"
                        name="Longitud"
                        nillable="true"
                        type="s:double"
                    />
          <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GrupoZona" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransmitirEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:TransmitirEnvio" />
  </wsdl:message>
  <wsdl:message name="TransmitirEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:TransmitirEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="TransmitirEnvioAuthInfoSWGE">
    <wsdl:part name="AuthInfoSWGE" element="tns:AuthInfoSWGE" />
  </wsdl:message>
  <wsdl:message name="TransmitirEnvioECSoapIn">
    <wsdl:part name="parameters" element="tns:TransmitirEnvioEC" />
  </wsdl:message>
  <wsdl:message name="TransmitirEnvioECSoapOut">
    <wsdl:part name="parameters" element="tns:TransmitirEnvioECResponse" />
  </wsdl:message>
  <wsdl:message name="TransmitirEnvioECAuthInfoSWGE">
    <wsdl:part name="AuthInfoSWGE" element="tns:AuthInfoSWGE" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:TransmEnvio" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:TransmEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioECSoapIn">
    <wsdl:part name="parameters" element="tns:TransmEnvioEC" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioECSoapOut">
    <wsdl:part name="parameters" element="tns:TransmEnvioECResponse" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioECAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:GetEtiquetaEnvio" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:GetEtiquetaEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioInternacionalSoapIn">
    <wsdl:part name="parameters" element="tns:TransmEnvioInternacional" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioInternacionalSoapOut">
    <wsdl:part name="parameters" element="tns:TransmEnvioInternacionalResponse" />
  </wsdl:message>
  <wsdl:message name="TransmEnvioInternacionalAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioInternacionalSoapIn">
    <wsdl:part name="parameters" element="tns:GetEtiquetaEnvioInternacional" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioInternacionalSoapOut">
    <wsdl:part name="parameters" element="tns:GetEtiquetaEnvioInternacionalResponse" />
  </wsdl:message>
  <wsdl:message name="GetEtiquetaEnvioInternacionalAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="CancelarEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarEnvio" />
  </wsdl:message>
  <wsdl:message name="CancelarEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarEnvioResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarEnvioAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:message name="GetPointsDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetPointsDB" />
  </wsdl:message>
  <wsdl:message name="GetPointsDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetPointsDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetPointsDBAuthInfo">
    <wsdl:part name="AuthInfo" element="tns:AuthInfo" />
  </wsdl:message>
  <wsdl:portType name="MRWEnvioSoap">
    <wsdl:operation name="TransmitirEnvio">
      <wsdl:input message="tns:TransmitirEnvioSoapIn" />
      <wsdl:output message="tns:TransmitirEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransmitirEnvioEC">
      <wsdl:input message="tns:TransmitirEnvioECSoapIn" />
      <wsdl:output message="tns:TransmitirEnvioECSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransmEnvio">
      <wsdl:input message="tns:TransmEnvioSoapIn" />
      <wsdl:output message="tns:TransmEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioEC">
      <wsdl:input message="tns:TransmEnvioECSoapIn" />
      <wsdl:output message="tns:TransmEnvioECSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvio">
      <wsdl:input name="GetEtiquetaEnvio" message="tns:GetEtiquetaEnvioSoapIn" />
      <wsdl:output name="GetEtiquetaEnvio" message="tns:GetEtiquetaEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioInternacional">
      <wsdl:input message="tns:TransmEnvioInternacionalSoapIn" />
      <wsdl:output message="tns:TransmEnvioInternacionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvioInternacional">
      <wsdl:input
                name="GetEtiquetaEnvioInternacional"
                message="tns:GetEtiquetaEnvioInternacionalSoapIn"
            />
      <wsdl:output
                name="GetEtiquetaEnvioInternacional"
                message="tns:GetEtiquetaEnvioInternacionalSoapOut"
            />
    </wsdl:operation>
    <wsdl:operation name="CancelarEnvio">
      <wsdl:input message="tns:CancelarEnvioSoapIn" />
      <wsdl:output message="tns:CancelarEnvioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PointsDB">
      <wsdl:input name="GetPointsDB" message="tns:GetPointsDBSoapIn" />
      <wsdl:output name="GetPointsDB" message="tns:GetPointsDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MRWEnvioSoap" type="tns:MRWEnvioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransmitirEnvio">
      <soap:operation soapAction="http://www.mrw.es/TransmitirEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header
                    message="tns:TransmitirEnvioAuthInfoSWGE"
                    part="AuthInfoSWGE"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmitirEnvioEC">
      <soap:operation
                soapAction="http://www.mrw.es/TransmitirEnvioEC"
                style="document"
            />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header
                    message="tns:TransmitirEnvioECAuthInfoSWGE"
                    part="AuthInfoSWGE"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvio">
      <soap:operation soapAction="http://www.mrw.es/TransmEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TransmEnvioAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioEC">
      <soap:operation soapAction="http://www.mrw.es/TransmEnvioEC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header
                    message="tns:TransmEnvioECAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvio">
      <soap:operation
                soapAction="http://www.mrw.es/GetEtiquetaEnvio"
                style="document"
            />
      <wsdl:input name="GetEtiquetaEnvio">
        <soap:body use="literal" />
        <soap:header
                    message="tns:GetEtiquetaEnvioAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output name="GetEtiquetaEnvio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioInternacional">
      <soap:operation
                soapAction="http://www.mrw.es/TransmEnvioInternacional"
                style="document"
            />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header
                    message="tns:TransmEnvioInternacionalAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvioInternacional">
      <soap:operation
                soapAction="http://www.mrw.es/GetEtiquetaEnvioInternacional"
                style="document"
            />
      <wsdl:input name="GetEtiquetaEnvioInternacional">
        <soap:body use="literal" />
        <soap:header
                    message="tns:GetEtiquetaEnvioInternacionalAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output name="GetEtiquetaEnvioInternacional">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarEnvio">
      <soap:operation soapAction="http://www.mrw.es/CancelarEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header
                    message="tns:CancelarEnvioAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointsDB">
      <soap:operation soapAction="http://www.mrw.es/GetPointsDB" style="document" />
      <wsdl:input name="GetPointsDB">
        <soap:body use="literal" />
        <soap:header message="tns:GetPointsDBAuthInfo" part="AuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPointsDB">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MRWEnvioSoap12" type="tns:MRWEnvioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransmitirEnvio">
      <soap12:operation
                soapAction="http://www.mrw.es/TransmitirEnvio"
                style="document"
            />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:TransmitirEnvioAuthInfoSWGE"
                    part="AuthInfoSWGE"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmitirEnvioEC">
      <soap12:operation
                soapAction="http://www.mrw.es/TransmitirEnvioEC"
                style="document"
            />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:TransmitirEnvioECAuthInfoSWGE"
                    part="AuthInfoSWGE"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvio">
      <soap12:operation soapAction="http://www.mrw.es/TransmEnvio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:TransmEnvioAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioEC">
      <soap12:operation soapAction="http://www.mrw.es/TransmEnvioEC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:TransmEnvioECAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvio">
      <soap12:operation
                soapAction="http://www.mrw.es/GetEtiquetaEnvio"
                style="document"
            />
      <wsdl:input name="GetEtiquetaEnvio">
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:GetEtiquetaEnvioAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output name="GetEtiquetaEnvio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransmEnvioInternacional">
      <soap12:operation
                soapAction="http://www.mrw.es/TransmEnvioInternacional"
                style="document"
            />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:TransmEnvioInternacionalAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiquetaEnvioInternacional">
      <soap12:operation
                soapAction="http://www.mrw.es/GetEtiquetaEnvioInternacional"
                style="document"
            />
      <wsdl:input name="GetEtiquetaEnvioInternacional">
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:GetEtiquetaEnvioInternacionalAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output name="GetEtiquetaEnvioInternacional">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarEnvio">
      <soap12:operation soapAction="http://www.mrw.es/CancelarEnvio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:CancelarEnvioAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PointsDB">
      <soap12:operation soapAction="http://www.mrw.es/GetPointsDB" style="document" />
      <wsdl:input name="GetPointsDB">
        <soap12:body use="literal" />
        <soap12:header
                    message="tns:GetPointsDBAuthInfo"
                    part="AuthInfo"
                    use="literal"
                />
      </wsdl:input>
      <wsdl:output name="GetPointsDB">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MRWEnvio">
    <wsdl:port name="MRWEnvioSoap" binding="tns:MRWEnvioSoap">
      <soap:address location="http://sagec-test.mrw.es/MRWEnvio.asmx" />
    </wsdl:port>
    <wsdl:port name="MRWEnvioSoap12" binding="tns:MRWEnvioSoap12">
      <soap12:address location="http://sagec-test.mrw.es/MRWEnvio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
